.App {}

  .App a {
    color: #26738D;
  }
  
  .App h1 {
    font-size: 2rem;
  }

  .App h2 {
    color: #353944;
  }

  .App h3 a {
    color: #353944;
  }

  .App .container {
    max-width: 800px;
    margin: 0 auto;    
  }

.App-header {
  background-color: #353944;
  color: #fff;
  font-size: calc(10px + 1vmin);
  padding: 1rem;
}

  .App-header a {
    color:#fff;
    font-weight: normal;
  }
  .App-header ul {    
    padding: 0;
  }
  
  .App-header li {
    list-style: none;
    display: inline;
    padding: 1rem;
    font-weight: bold;
  }

  .App-header li:first-child {
    padding-left: 0; 
  }

.App article {
  padding: 1rem;  
}

  .App article ul {
    margin: 0;
    padding: 0;  
  }

  .App article ul li {
    list-style: none;
  }

  .App article h3 {
    font-size: calc(14px + 2vmin);
  }

.App-link {
  color: #61dafb;
}

.App-message { 
  background-color: #55A9D6; 
  color: white;
  padding: 2rem 1rem;
  text-shadow: 0 1px 0 #444;
}

  .App-message.saved {
    background: #51BB7A;
  }

  .App-message.deleted {
    background: #FF3F69;
  }


 .App form {
  padding: 1rem;
}

  .App form input {
    border: 1px solid #ccc;
    padding: .3rem;
  }  

  .App form label {
    display: block;
    padding: .5rem 0;
  }

  .App form input#form-title {
    min-width: calc(100% - 20px);
    padding: 10px;
    font-size: 1rem;
  }

  .App form .ql-editor {
    min-height: 4rem;
  }
  
  .App form button[type="submit"] {
    border: 1px #ccc solid;
    background: white;
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  .App form button[type="submit"]:hover {
    cursor: pointer;
  }

.App button.linkLike {
  border: none;
  font-size: inherit;
  color: #26738D;
  text-decoration: underline;  
}

  .App button.linkLike:hover {
     cursor: pointer;
  } 

  button.linkLike{
    background:inherit;
    border: none;
    color:#26738D;
    font-size: inherit;
    text-decoration: underline;
  }

  button.linkLike:hover{
    cursor: pointer;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f4f6; 
    
  }

  form{
    width: 350px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  form h1{
    margin-bottom: 18px;
    color: #353944;
  }

  form label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: #353944;
  }

  form input{
    width: 100%;
    padding: 8px;
    margin: 12px 0px;
    border: 1px solid #ddd;
    font-size: 14px;
  }

  form input:focus {
    outline: none;
    border-color: #353944; /* Blue highlight */
    box-shadow: 0 0 5px rgba(59, 130, 246, 0.4);
  }

  .error {
    color: #f87171; /* Red */
    font-size: 12px;
    margin-bottom: 15px;
  }

  form button {
    width: 100%;
    padding: 10px;
    background-color: #3b82f6; /* Blue */
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  form button:disabled {
    background-color: #cbd5e1; /* Gray for disabled button */
    cursor: not-allowed;
  }
  
  form button:hover:not(:disabled) {
    background-color: #2563eb; /* Darker blue on hover */
  }